/* /import/aa/styles/aa-base.css // v0.0 // javier.rey.eu@gmail.com // copyright 2017 */
/**
 */
/* Base ***************************************************************************************************************/
/* General */
.-ignore-:root {
  --html-font: sans-serif;
  --html-fsize: 16px;
  --html-color-bg: #ffffff; /* #ffffff, #000000 */
  --html-color-bg1: #eeeeee; /* #eeeeee, #111111 */
  --html-color-fg: #555555; /* #555555, #ffffff */
  --html-color-disabled: #999999; /* #999999, #999999 */
  --html-color-info: #0088ff; /* #0088ff, #00eeff */
  --html-color-success: #009900; /* #009900, #22ff22 */
  --html-color-warning: #ff8800; /* #ff8800, #ffcc00 */
  --html-color-error: #ff0000; /* #ff0000, #ff7777 */
  --html-color-bg-i: #000000; /* #000000, #ffffff */
  --html-color-bg1-i: #111111; /* #111111, #eeeeee */
  --html-color-fg-i: #ffffff; /* #ffffff, #555555 */
  --html-color-info-i: #00eeff; /* #00eeff, #0088ff */
  --html-color-success-i: #22ff22; /* #22ff22, #009900 */
  --html-color-warning-i: #ffcc00; /* #ffcc00, #ff8800 */
  --html-color-error-i: #ff7777; /* #ff7777, #ff0000 */
  --html-overflow-x: hidden; /* hidden, auto */
  --html-overflow-y: hidden; /* auto, hidden for .lay layouts. */
}
/**/
html, body {width: 100%; height: 100%;}
html {font-size: var(--html-fsize);}
body {margin: 0; overflow-x: var(--html-overflow-x); overflow-y: var(--html-overflow-y); background-color: var(--html-color-bg);}
body, a, input, select, button, textarea {color: var(--html-color-fg); font-family: var(--html-font);}
* {box-sizing: border-box; -webkit-tap-highlight-color: rgba(128,128,128,0);}
*:focus {outline: 0;}
a {text-decoration: none;}
textarea {resize: none; overflow: auto;}
fieldset {border: none; margin: 0; padding: 0;}
hr {color: var(--html-color-fg); background-color: var(--html-color-fg); height: 1px; border: none;}
/* Layout HFB-LRM */
.lay {position: relative; box-sizing: border-box; overflow: hidden; height: 100%;}
.lay-head, .lay-foot {position: absolute; box-sizing: border-box; overflow: visible; width: 100%; height: 0;}
.lay-head {top: 0; z-index: 1;} .lay-foot {bottom: 0;}
.lay-body {box-sizing: border-box; overflow: hidden; width: 100%; height: 100%; padding-top: 0; padding-bottom: 0;}
.lay-left, .lay-right {width: 0; height: 100%;}
.lay-left {float: left;} .lay-right {float: right;}
.lay-main {width: auto; height: 100%;}
.lay-head>.lay-left, .lay-head>.lay-right, .lay-foot>.lay-left, .lay-foot>.lay-right {overflow: hidden;}
.lay-head>.lay-main, .lay-foot>.lay-main {overflow: visible;}
.lay-body>.lay-left, .lay-body>.lay-right, .lay-body>.lay-main {overflow-x: hidden; overflow-y: auto;}
/* Content alignment: */
.align-left {position: relative; left: 0;} .align-center {margin-left: auto; margin-right: auto;} .align-right {position: relative; right: 0;}
.align-top {position: relative; top: 0;} .align-middle {position: relative; top: 50%; transform: translateY(-50%);} .align-bottom {position: relative; bottom: 0;}
.vertical-align-sup {vertical-align: super; font-size: 0.7em;} .vertical-align-sub {vertical-align: sub; font-size: 0.7em;}
/* Column widths: */
.width-0 {width: 0;} .width-1 {width: 1px;}
.width-1-1 {width: 100%;} .width-1-2 {width: 50%;} .width-1-3 {width: 33.333%;} .width-2-3 {width: 66.667%;} .width-1-4 {width: 25%;}  .width-3-4 {width: 75%;}
.width-1-5 {width: 20%;} .width-2-5 {width: 40%;} .width-3-5 {width: 60%;} .width-4-5 {width: 80%;}
.width-1-6 {width: 16.667%;} .width-5-6 {width: 83.333%;}
.width-1-7 {width: 14.286%;} .width-2-7 {width: 28.571%;} .width-3-7 {width: 42.857%;} .width-4-7 {width: 57.143%;} .width-5-7 {width: 71.429%;} .width-6-7 {width: 85.714%;}
.width-1-8 {width: 12.5%;} .width-3-8 {width: 37.5%;} .width-5-8 {width: 62.5%;} .width-7-8 {width: 87.5%;}
.width-1-9 {width: 11.111%;} .width-2-9 {width: 22.222%;} .width-4-9 {width: 44.444%;} .width-5-9 {width: 55.556%;} .width-7-9 {width: 77.778%;} .width-8-9 {width: 88.889%;}
.width-1-10 {width: 10%;} .width-3-10 {width: 30%;} .width-7-10 {width: 70%;} .width-9-10 {width: 90%;}
.width-1-11 {width: 9.091%;} .width-2-11 {width: 18.182%;} .width-3-11 {width: 27.273%;} .width-4-11 {width: 36.364%;} .width-5-11 {width: 45.455%;} .width-6-11 {width: 54.545%;} .width-7-11 {width: 63.636%;} .width-8-11 {width: 72.727%;} .width-9-11 {width: 81.818%;} .width-10-11 {width: 90.909%;}
.width-1-12 {width: 8.333%;} .width-5-12 {width: 41.667%;} .width-7-12 {width: 58.333%;} .width-11-12 {width: 91.667%;}
/* Row heights: */
.height-0 {height: 0;} .height-1 {height: 1px;}
.height-1-1 {height: 100%; min-height: 100%;} .height-1-2 {height: 50%;} .height-1-3 {height: 33.333%;} .height-2-3 {height: 66.667%;} .height-1-4 {height: 25%;} .height-3-4 {height: 75%;}
/* Visibility: */
.invisible {overflow: hidden; position: fixed; z-index: -10000000; left: -1px; top: -1px; width: 1px; height: 1px; margin: 0; padding: 0; border: 0; opacity: 0;}
.display-none {display: none;} .display-block {display: block;} .display-table-cell {display: table-cell;} .display-inline-block {display: inline-block;}
.visibility-visible {visibility: visible;} .visibility-hidden {visibility: hidden;}
.opacity-0 {opacity: 0;} .opacity-1 {opacity: .01;} .opacity-25 {opacity: .25;} .opacity-50 {opacity: .5;} .opacity-75 {opacity: .75;} .opacity-100 {opacity: 1;}
.zoom-0 {zoom: 0;} .zoom-10 {zoom: .1;} .zoom-25 {zoom: .25;} .zoom-50 {zoom: .5;} .zoom-75 {zoom: .75;} .zoom-100 {zoom: 1;} .zoom-150 {zoom: 1.5;} .zoom-200 {zoom: 2;} .zoom-500 {zoom: 5;} .zoom-1000 {zoom: 10;}
/* Size/Position: */
.position-static {position: static;} .position-relative {position: relative;} .position-absolute {position: absolute;} .position-fixed {position: fixed;}
.float-left {float: left;} .float-right {float: right;} .float-none {float: none;} .clear-both {clear: both;}
.clearfix:before, .clearfix:after {content: "."; display: block; height: 0; overflow: hidden;} .clearfix:after {clear: both;} .clearfix {zoom: 1;}
.border-none {border: none;} .border-one {border: solid 1px;} .border-collapse {border-collapse: collapse;}
.box-sizing-border-box {box-sizing: border-box;} .box-sizing-content-box {box-sizing: content-box;}
.overflow-hidden {overflow: hidden;} .overflow-scroll {overflow: scroll;} .overflow-auto {overflow: auto;}
.overflow-x-hidden {overflow-x: hidden;} .overflow-x-scroll {overflow-x: scroll;} .overflow-x-auto {overflow-x: auto;}
.overflow-y-hidden {overflow-y: hidden;} .overflow-y-scroll {overflow-y: scroll;} .overflow-y-auto {overflow-y: auto;}
/* Margin/Padding/Spacing: */
.gap {width: 12px; height: 12px;} .vgap {height: 12px;} .hgap {width: 12px;}
.margin-0 {margin: 0;} .margin-gap {margin: 12px;}
.margin-l-0 {margin-left: 0;} .margin-r-0 {margin-right: 0;} .margin-t-0 {margin-top: 0} .margin-b-0 {margin-bottom: 0;}
.margin-h-0 {margin-left: 0; margin-right: 0;} .margin-v-0 {margin-top: 0; margin-bottom: 0;}
.margin-l-gap {margin-left: 12px;} .margin-r-gap {margin-right: 12px;} .margin-t-gap {margin-top: 12px} .margin-b-gap {margin-bottom: 12px;}
.margin-h-gap {margin-left: 12px; margin-right: 12px;} .margin-v-gap {margin-top: 12px; margin-bottom: 12px;}
.padding-0 {padding: 0;} .padding-gap {padding: 12px;}
.padding-l-0 {padding-left: 0;} .padding-r-0 {padding-right: 0;} .padding-t-0 {padding-top: 0;} .padding-b-0 {padding-bottom: 0;}
.padding-h-0 {padding-left: 0; padding-right: 0;} .padding-v-0 {padding-top: 0; padding-bottom: 0;}
.padding-l-gap {padding-left: 12px;} .padding-r-gap {padding-right: 12px;} .padding-t-gap {padding-top: 12px;} .padding-b-gap {padding-bottom: 12px;}
.padding-h-gap {padding-left: 12px; padding-right: 12px;} .padding-v-gap {padding-top: 12px; padding-bottom: 12px;}
/* Visual properties: */
.outline-0 {outline: 0;} .outline-solid {outline: solid;}
.list-style-none {list-style: none;} .list-style-disc {list-style: disc;} .list-style-decimal {list-style: decimal;}
.cursor-default {cursor: default;} .cursor-pointer {cursor: pointer;} .cursor-wait {cursor: wait;} .cursor-none {cursor: none;}
.cursor-text {cursor: text;} .cursor-crosshair {cursor: crosshair;} .cursor-hand {cursor: hand;} .cursor-no-drop {cursor: no-drop;}
/* Texts/Fonts: */
.font-family-serif {font-family: serif;} .font-family-sans {font-family: sans-serif;} .font-family-mono {font-family: monospace;}
.font-size-8p {font-size: 8px !important;} .font-size-10p {font-size: 10px !important;} .font-size-12p {font-size: 12px !important;}
.font-size-14p {font-size: 14px !important;} .font-size-16p {font-size: 16px !important;} .font-size-18p {font-size: 18px !important;}
.font-size-24p {font-size: 24px !important;} .font-size-32p {font-size: 32px !important;} .font-size-40p {font-size: 40px !important;}
.font-size-48p {font-size: 48px !important;} .font-size-64p {font-size: 64px !important;} .font-size-72p {font-size: 72px !important;}
.font-size-0-1 {font-size: 0.1em !important;} .font-size-0-2 {font-size: 0.2em !important;} .font-size-0-3 {font-size: 0.3em !important;} .font-size-0-4 {font-size: 0.4em !important;}
.font-size-0-5 {font-size: 0.5em !important;} .font-size-0-6 {font-size: 0.6em !important;} .font-size-0-7 {font-size: 0.7em !important;} .font-size-0-8 {font-size: 0.8em !important;}
.font-size-0-9 {font-size: 0.9em !important;} .font-size-1 {font-size: 1em !important;} .font-size-1-1 {font-size: 1.1em !important;} .font-size-1-2 {font-size: 1.2em !important;}
.font-size-1-3 {font-size: 1.3em !important;} .font-size-1-4 {font-size: 1.4em !important;} .font-size-1-5 {font-size: 1.5em !important;} .font-size-1-6 {font-size: 1.6em !important;}
.font-size-1-7 {font-size: 1.7em !important;} .font-size-1-8 {font-size: 1.8em !important;} .font-size-1-9 {font-size: 1.9em !important;} .font-size-2 {font-size: 2em !important;}
.text-align-left {text-align: left;} .text-align-right {text-align: right;} .text-align-center {text-align: center;} .text-align-justify {text-align: justify;}
.text-decoration-none {text-decoration: none;} .text-decoration-underline {text-decoration: underline;}
.wrap-off {white-space: nowrap; word-wrap: normal;} .wrap-break {white-space: pre-wrap; word-wrap: break-word;} .wrap-normal {white-space: normal; word-wrap: normal;}
.user-select-none {-webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
/* Default Colors: */
.bcolor-transparent {background-color: transparent;}
.bcolor-light {background-color: #dddddd;} .bcolor-dark {background-color: #555555;}
.bcolor-white {background-color: #ffffff;} .bcolor-black {background-color: #000000;} .bcolor-grey {background-color: #999999;}
.fcolor-light {color: #bbbbbb;} .fcolor-dark {color: #555555;}
.fcolor-white {color: #ffffff;} .fcolor-black {color: #000000;} .fcolor-grey {color: #999999;}
/* Graphics/Effects: */
.shadow-down {box-shadow: 0 4px 4px 1px rgba(128, 128, 128, .3);} .shadow-right {box-shadow: 4px 0 4px 1px rgba(128, 128, 128, .3);}
.shadow-downright {box-shadow: 4px 4px 4px 1px rgba(128, 128, 128, .3);} .shadow-center {box-shadow: 0 0 6px 3px rgba(128, 128, 128, .3);}
.opacity-0 {opacity: 0; filter: alpha(opacity = 0);} .opacity-100 {opacity: 1; filter: alpha(opacity = 100);}
.opacity-25 {opacity: .25; filter: alpha(opacity = 25);} .opacity-50 {opacity: .5; filter: alpha(opacity = 50);} .opacity-75 {opacity: .75; filter: alpha(opacity = 75);}
@keyframes fade-in {0% {opacity: 0;} 100% {opacity: 1;}}
.fade-in {animation: fade-in 0.6s ease forwards;}
@keyframes fade-out {100% {opacity: 0;}}
.fade-out {animation: fade-out 0.3s ease forwards;}
@keyframes spin-cw-2s {0% {transform: rotate(0deg);} 100% {transform: rotate(359deg);}}
.spin-cw-2s {animation: spin-cw-2s 2s linear infinite;}
@keyframes spin-ccw-2s {0% {transform: rotate(0deg);} 100% {transform: rotate(-359deg);}}
.spin-ccw-2s {animation: spin-ccw-2s 2s linear infinite;}
/* Images: */
/* Custom: */
.border-box {
  border: solid 1px #bbbbbb;
  border-radius: 6px;
}
